.body{
    height: 100vh;
    overflow: hidden;
}

.sky{
  height: 17rem;
  background: #b3dae9;
  position: relative;
}

.grass{
    height: 15rem;
    background: seagreen;
}

.road{
    height: 10rem;
    background: darkgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    position: relative;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed white;
    height: 6px;
    width: 100%;
    position: absolute;
    top:45% ;
}

@keyframes bird{
    from{
        transform: translate(-100px);
    }

    to{
transform: translateX(85rem);
    }
}



.twitter{
    height: 50px;
    margin: 2rem;
    animation-name: bird;
    animation-duration: 7s;
    animation-fill-mode: both;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.web{
height: 50px;
position: absolute;
top:-5px;
animation:  luigi 5s both infinite normal,
            jump 5s 1.2s ease infinite ;

                             
}

@keyframes jump{
    0%{
        top:-5px;
    }

    50%{
        top:-400px;
    }

    100%{
        top: -5px;
    }
}


@keyframes luigi{
    from{
        transform:translateX(-100px)
    }

    to{
        transform: translateX(85rem);
    }
}

.cloud{
    position: absolute;

}

.cloud:nth-child(1){
    width: 200px; 
    opacity:.5;
    top: 120px;
    animation: wind 80s linear infinite reverse;
    z-index: 2;
}


.cloud:nth-child(2){
    width: 300px; 
    top: 0px;
    animation: wind 50s linear infinite reverse;
    z-index: 1;
}

@keyframes wind{
    from{
        transform: translateX(-90px);
    }

    to{
        transform: translateX(90rem);
    }
}




